.jumbotron img{
	border-radius: 100%;
}

section{
min-height: 100%

}
.potofolio {
	background: #F5F5DC;
}
section{
	min-height: 300px;
}

.portofolio{
	background-color: #F0F8FF;
}

.portofolio img{
	padding: 5px ;
}

hr{
	text-align: center;
	width: 250px;
	border-top: 3px solid #000;
}

html{
	position:  relative;
}0