.jumbotron img {
		border-radius: 100%;
}

section {
	min-height: 400px; 
}

.portofolio{
	background-color: #F0F8FF;


}

footer{
  background-color: #ffc0cb;
     text-align: center;
   }
   ul li{
     display: inline
   }
   a{
     padding: 5px;
     text-decoration: none;
   }

   